.menuEU{
list-style:none; 
 
float:left; 
}

.menuEU li{
position:relative; 
float:left; 
border: hidden;
border-color: #fff;

}

.menuEU li a{color:#fff; text-decoration:none; padding:5px 10px; display:block;}

.menuEU li a:hover{
 
color:#fff; 

}

.menuEU li  ul{
position:absolute; 
top:25px; 
left:0;
background-color: #2c3e50; 
display:none;
}

.menuEU li:hover ul, .menuEU li.over ul{display:block;}

.menuEU li ul li{

display:block; 
width:150px;
border-radius: 10px;
}